name: Gambit Linux X64 CI on Wino

on:
  push:
    branches: [ master, ci-* ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron:  '0 5 * * *'

jobs:
  gambit_build:
    runs-on: [self-hosted, Linux, X64]
    strategy:
      fail-fast: false
      matrix:
        arch: [X64]
    defaults:
      run:
        shell: bash -eo pipefail {0}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up build environment
      run: |
        echo "Set up the build environment"
        mkdir -p BUILD
        cd BUILD
    - name: Configure with cmake
      run: |
        echo "Configure with cmake"
        alias patch=/mn/fys-server1/a9/anderkve/tools/patch/bin/patch
        cd BUILD
        cmake -DPYTHON_LIBRARY=/usr/lib64/libpython3.9.so -DPYTHON_INCLUDE_DIR=/usr/include/python3.9 -DWITH_MPI=ON -DWITH_HEPMC=ON -Ditch="great" -DEIGEN3_INCLUDE_DIR=/mn/fys-server1/a1/chrichan/Packages/Eigen/eigen3 ..
    - name: Build scanners
      run: |
        echo "Build scanners"
        alias patch=/mn/fys-server1/a9/anderkve/tools/patch/bin/patch
        cd BUILD
        make -j28 scanners
        cmake ..
    - name: Build Gambit
      run: |
        echo "Build GAMBIT."
        alias patch=/mn/fys-server1/a9/anderkve/tools/patch/bin/patch
        cd BUILD
        # Now build Gambit
        make -j28 gambit
    - name: CLI test
      run: |
        echo "Run the test of gambit help"
        ./gambit -h
    - name: Run spartan.yaml
      run: |
        echo "Testing spartan.yaml (with cout printer)"
        sed -i 's/ hdf5/ cout/g' yaml_files/spartan.yaml
        ./gambit -rf yaml_files/spartan.yaml 


  # backends_build:
  #   needs: [gambit_build] # Sets run order
  #   if: ${{ !cancelled() }}
  #   runs-on: [self-hosted, Linux, X64]
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       arch: [X64]
  #   defaults:
  #     run:
  #       shell: bash -eo pipefail {0}
  #   steps:
  #   - name: Checkout
  #     uses: actions/checkout@v2
  #   - name: Set up build environment
  #     run: |
  #       echo "Set up the build environment"
  #       mkdir -p BUILD
  #       cd BUILD
  #   - name: Configure with cmake
  #     run: |
  #       echo "Configure with cmake"
  #       alias patch=/mn/fys-server1/a9/anderkve/tools/patch/bin/patch
  #       cd BUILD
  #       cmake -DPYTHON_LIBRARY=/usr/lib64/libpython3.9.so -DPYTHON_INCLUDE_DIR=/usr/include/python3.9 -DWITH_MPI=ON -DWITH_HEPMC=ON -DBUILD_FS_MODELS="CMSSM;MSSM;MDM" -Ditch="great" -DEIGEN3_INCLUDE_DIR=/mn/fys-server1/a1/chrichan/Packages/Eigen/eigen3 ..
  #   - name: Build Backends
  #     run: |
  #       echo "Building all Backends"
  #       alias patch=/mn/fys-server1/a9/anderkve/tools/patch/bin/patch
  #       cd BUILD
  #       # Build backends, except those that are tested via other jobs.
  #       # This replaces the "make backends" command.
  #       ../cmake/scripts/build_backends.sh -f default_backends.txt -j 1 -s "nulike susyhit rivet contur pythia higgsbounds higgssignals ATLAS_FullLikes superiso heplikedata heplike" 


  # test_runs:
  #   needs: [gambit_build, backends_build] # Sets run order
  #   if: ${{ !cancelled() }}
  #   runs-on: [self-hosted, Linux, X64]
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       arch: [X64]
  #   defaults:
  #     run:
  #       shell: bash -eo pipefail {0}
  #   steps:
  #   - name: Checkout
  #     uses: actions/checkout@v2
  #   - name: Set up build environment
  #     run: |
  #       echo "Set up the build environment"
  #       mkdir -p BUILD
  #       cd BUILD
  #   - name: Configure with cmake
  #     run: |
  #       echo "Configure with cmake"
  #       alias patch=/mn/fys-server1/a9/anderkve/tools/patch/bin/patch
  #       cd BUILD
  #       cmake -DPYTHON_LIBRARY=/usr/lib64/libpython3.9.so -DPYTHON_INCLUDE_DIR=/usr/include/python3.9 -DWITH_MPI=ON -DWITH_HEPMC=ON -DBUILD_FS_MODELS="CMSSM;MSSM;MDM" -Ditch="Cosmo;Neutrino;great" -DEIGEN3_INCLUDE_DIR=/mn/fys-server1/a1/chrichan/Packages/Eigen/eigen3 ..
  #   - name: Build required scanners
  #     run: |
  #       echo "Build scanners required for test runs"
  #       alias patch=/mn/fys-server1/a9/anderkve/tools/patch/bin/patch
  #       cd BUILD
  #       make -j28 diver
  #       cmake ..
  #   - name: Build required backends
  #     run: |
  #       echo "Building backends required for test runs"
  #       alias patch=/mn/fys-server1/a9/anderkve/tools/patch/bin/patch
  #       cd BUILD
  #       make pythia
  #       make higgssignals
  #       make nulike
  #       make ATLAS_FullLikes
  #       make susyhit
  #       make heplike
  #       make superiso
  #       make rivet
  #       make contur
  #       echo "Running cmake again, since this is required for ColliderBit/pythia"
  #       cmake ..
  #   - name: Build Gambit
  #     run: |
  #       echo "Build GAMBIT."
  #       alias patch=/mn/fys-server1/a9/anderkve/tools/patch/bin/patch
  #       cd BUILD
  #       # Now build Gambit
  #       make -j28 gambit
  #   - name: Run ColliderBit_CMSSM.yaml
  #     run: |
  #       echo "Test run with ColliderBit_CMSSM.yaml"
  #       ./gambit -f yaml_files/ColliderBit_CMSSM.yaml
  #   - name: Run WC_lite.yaml
  #     run: |
  #       echo "Test run with WC_lite.yaml (no printing)"
  #       sed -i "" 's/ hdf5/ none/g' yaml_files/WC_lite.yaml
  #       ./gambit -f yaml_files/WC_lite.yaml


  # standalones_build:
  #   needs: [gambit_build, backends_build, test_runs] # Sets run order
  #   if: ${{ !cancelled() }}
  #   runs-on: [self-hosted, Linux, X64]
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       arch: [X64]
  #   defaults:
  #     run:
  #       shell: bash -eo pipefail {0}
  #   steps:
  #   - name: Checkout
  #     uses: actions/checkout@v2
  #   - name: Set up build environment
  #     run: |
  #       echo "Set up the build environment"
  #       mkdir -p BUILD
  #       cd BUILD
  #   - name: Configure with cmake
  #     run: |
  #       echo "Configure with cmake"
  #       alias patch=/mn/fys-server1/a9/anderkve/tools/patch/bin/patch
  #       cd BUILD
  #       cmake -DPYTHON_LIBRARY=/usr/lib64/libpython3.9.so -DPYTHON_INCLUDE_DIR=/usr/include/python3.9 -DWITH_MPI=ON -DWITH_HEPMC=ON -DBUILD_FS_MODELS="CMSSM;MSSM;MDM" -Ditch="great" -DEIGEN3_INCLUDE_DIR=/mn/fys-server1/a1/chrichan/Packages/Eigen/eigen3 ..
  #   - name: Build standalones
  #     run: |
  #       echo "Test the building of the standalones"
  #       alias patch=/mn/fys-server1/a9/anderkve/tools/patch/bin/patch
  #       cd BUILD
  #       make standalones
